.grid{
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: powderblue;
}

.grid div{
    height: 20px;
    width: 20px;
}

.floor{
    background-color: darkslategrey;
}

.tetro{
    background-color:violet;
}

.minigrid{
    margin-left: 50px;
    width: 80px ;
    height: 80px;
    display:flex;
    flex-wrap: wrap;
    background-color: powderblue;
}
 .minigrid div{
     height: 20px;
     width: 20px;
 }

 .container{
     display: flex;
 }